.dashboard-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f4f4f4;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #73c17c;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.logout-button {
    background-color: #f44336;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.dashboard-content {
    display: flex;
    height: calc(100% - 50px);
}

.sidebar {
    width: 200px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar-button {
    margin-bottom: 10px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: #ddd;
}

.sidebar-button.active {
    background-color: #4CAF50;
    color: white;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #eaeaea;
}

.dashboard-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.dashboard-section h2 {
    margin-top: 0;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    /* Sombra para cobrir o fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Para garantir que ele fica na frente de todos os outros elementos */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
}

.close-button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;
}

.close-button:hover {
    background-color: #d32f2f;
}